@tailwind base;
@tailwind components;
@tailwind utilities;

@import './scss/buttons.scss';
@import './scss/forms.scss';
@import './scss/inputs.scss';
@import './scss/navigations.scss';

*:focus {
  outline: none;
}

body {
  color: rgb(73, 73, 73);
}

.landingpage-introduction {
  height: 100vh;
  display: flex;
  justify-content: space-between;

  .wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;

    &-1 {
      @extend .wrapper;

      img {
        width: 100%;
        height: 70%;
        object-fit: contain;
      }

      .btn-wrapper {
        display: flex;
        align-items: center;
        flex: 1;
        flex-direction: column;
        gap: 1rem;

        button {
          padding: 1rem 3rem;
          background-color: #755057;
          color: white;
          font-size: 1.3rem;
          font-weight: 600;
        }
      }
    }

    &-2 {
      @extend .wrapper;
      background: linear-gradient(to top, white, transparent 10%),
        linear-gradient(to bottom, white, transparent 10%),
        linear-gradient(to left, white, transparent 10%),
        linear-gradient(to right, white, transparent 10%),
        url("./assets/bg1.jpg");
      background-position: center;
      background-size: cover;
    }
  }
}

.landingpage-offers {
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    padding: 5rem;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
  }

  .content-wrapper {
    padding: 4rem;
    padding-top: 0;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);

    .block {
      padding: 2rem;
      background-color: #eedbd2;
      border-radius: 5px;
      box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.3);

      &-icon {
        padding: 2rem;
        font-size: 4rem;
        text-align: center;
      }

      &-header {
        font-size: 1.3rem;
        font-weight: 600;
        text-align: center;
      }

      &-content {
        margin-top: 0.5rem;
        color: rgb(126, 126, 126);
        line-height: 2;
        text-align: center;
      }
    }
  }
}

.landingpage-contactus {
  height: 100vh;
  display: flex;
  justify-content: space-between;

  .wrapper {
    display: flex;
    align-items: center;
    background-color: #EEE7E1;
    flex: 1;
    flex-direction: column;

    &-1 {
      @extend .wrapper;
      display: flex;
      justify-content: space-evenly;

      .header {
        font-size: 2rem;
        font-weight: 600;
        text-decoration: underline;
      }

      table {
        width: calc(100% - 8rem);
        font-size: 1.3rem;

        th {
          padding: 0.5rem;
          padding-left: 0;
          border-right: 4px solid #d4bda8;
          text-align: left;
        }

        td {
          text-align: right
        }
      }
    }

    &-2 {
      @extend .wrapper;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

// .form-login {
//   width: 400px;
//   margin: 4rem auto;
//   background-color: white;
//   box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.3);

//   .form-header {
//     padding: 2rem;
//     background-color: #755057;
//     color: white;
//     text-align: center;

//     h1 {
//       font-size: 2rem;
//       font-weight: 600;
//       text-decoration: underline;
//     }
//   }

//   .form-body {
//     padding: 2rem;

//     .form-group {
//       margin: 1rem auto;
//     }

//     button {
//       width: calc(100% - 8rem);
//       margin: auto;
//       margin-top: 2rem;
//       padding: 0.5rem 1rem;
//       display: block;
//       background-color: #555;
//       border-radius: 0.5rem;
//       color: white;
//       font-weight: 600;
//     }
//   }
// }

// .navigation-side {
//   width: 300px;
//   height: 100vh;
//   padding: 0 5px;
//   top: 0;
//   left: 0;
//   position: fixed;
//   background-color: white;

//   .navigation-header {
//     padding: 2rem;

//     img {
//       width: 100%;
//       height: 150px;
//       object-fit: contain;
//     }
//   }

//   .navigation-body {
//     padding: 2rem;
//     display: flex;
//     flex-direction: column;
//     gap: 0.5rem;

//     button {
//       padding: 0.5rem 1rem;
//       display: flex;
//       align-items: center;
//       background-color: #555;
//       border-radius: 5px;
//       color: white;
//       gap: 1rem;
//       justify-content: space-between;

//       span {
//         flex: 1;
//         text-align: left;
//       }
//     }
//   }
// }

// .offset {
//   height: 100vh;
//   padding: 2rem;
//   padding-left: calc(300px + 2rem);
//   background-color: #ccc;

//   h1 {
//     font-size: 2rem;
//     font-weight: 600;
//     margin-bottom: 2rem;
//   }

//   .blocks-wrapper {
//     display: grid;
//     gap: 2rem;
//     grid-template-columns: repeat(2, 1fr);

//     .block {
//       padding: 2rem;
//       background-color: white;
//       border-radius: 1rem;
//       box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.3);
//       color: white;

//       h2 {
//         margin-bottom: 1rem;
//       }

//       span {
//         font-size: 2rem;
//         font-weight: 600;
//       }
//     }
//   }
// }

// .page-content-wrapper {
//   min-height: 100vh;
//   padding: 2rem;
//   padding-left: calc(300px + 2rem);
//   background-color: #ccc;

//   h1 {
//     font-size: 2rem;
//     font-weight: 600;
//     margin-bottom: 1rem;
//   }
// }

// .form-v1 {
//   margin: 2rem auto;

//   h2 {
//     margin-bottom: 1rem;
//     font-size: 1.3rem;
//     font-weight: 600;
//   }

//   .form-inputs {
//     display: grid;
//     gap: 1rem;
//     grid-template-columns: repeat(2, 1fr);
//   }

//   .form-group {

//     input {
//       width: 100%;
//       padding: 0.5rem 1rem;
//       background-color: white;
//       border-radius: 0.5rem;
//     }

//     select {
//       @extend input;
//     }
//   }

//   .form-btns {
//     margin-top: 2rem;
//     display: flex;
//     justify-content: end;

//     button {
//       padding: 0.5rem 1rem;
//       display: flex;
//       align-items: center;
//       background-color: #555;
//       border-radius: 5px;
//       color: white;
//       gap: 1rem;
//       justify-content: space-between;

//       span {
//         flex: 1;
//         text-align: left;
//       }
//     }
//   }
// }